tabpfn-client
tabpfn
scikit-learn==1.6.1
pandas==2.3.0
pyarrow
catboost==1.2.8
lightgbm==4.6.0
xgboost==3.0.2
fastapi
uvicorn
numpy==2.2.6
langgraph
langchain
langchain-openai
langchain-core
ag-ui-langgraph
ag-ui-protocol
sse-starlette
